meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="theme-color", content="#22485a")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title TITLE
link(rel="stylesheet", href="css/style.min.css")
