::before,
::after {
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

th,
td {
  padding: 0;
}

hr {
  border: none;
}

img {
  flex-shrink: 0;
}

input {
  outline: none;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  outline: none;
}
