@mixin media-min($value) {
  @media (min-width: $value) {
    @content;
  }
}

@mixin media-max($value) {
  @media (max-width: ($value - 0.02)) {
    @content;
  }
}

@mixin media-min-max($min, $max) {
  @media (min-width: $min) and (max-width: ($max - 0.02)) {
    @content;
  }
}

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin transition($properties...) {
  will-change: $properties;
  transition-property: $properties;
  transition-duration: $transition;
  transition-timing-function: ease-in-out;
}
