// breakpoints

$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

// palette
$palette-black: #000000;
$palette-white: #ffffff;
$palette-transparent: rgba(255, 255, 255, 0);

// other
$border-radius: 5px;
$transition: 150ms;
